<h2>Products</h2>

<div *ngFor="let product of products"> <!-- for-each loop -->
	<h3>
    <a [title]="product.name + ' details'"> <!-- binds property to HTML tag -->
		  {{product.name}} <!-- converts every product name to string [interpolation] -->
    </a>
	</h3>
  <p *ngIf="product.description"> <!-- if statement -->
    Description: {{product.description}}
  </p>
  <button (click)="share()"> <!-- function binding -->
    Share
  </button>
  
  <!-- 
    [product] - binds @Input property of component as product object
    (notify) - binds child component @Output (notify) as parent component's onNotify function
  -->
  <app-product-alerts 
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts> 
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->